@import 'tailwindcss';

@view-transition {
  navigation: auto;
}

::view-transition-old(root) {
  animation: 150ms ease-in both fade-out;
}

::view-transition-new(root) {
  animation: 270ms ease-out both fade-in;
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
